<template>
  <div class="container">
    <h3 class="text-center">Редактор Gift-тестів для системи Moodle</h3>
      <hr>
      <drop-zone @new-question="addQuestion"></drop-zone>
      <div class="d-flex justify-content-center">
          <div>
              <div class="form-inline mr-1">
                  <div class="form-group">
                      <label class="mr-1" for="question-type">Оберіть тип запитання:</label>
                      <select v-model="questionType" class="form-control" id="question-type">
                          <option v-for="(name, key) in questionTypes" :value="key" :key="key">{{ name }}</option>
                      </select>
                  </div>
              </div>
          </div>
          <div>
              <button class="btn btn-success" @click="addQuestion(questionType)">Додати тест</button>
          </div>
      </div>

      <hr>
      <template v-for="(question, i) in questions">
          <component :is="componentName(question.name)" :serial-number="i + 1" :question-type="questionTypes[question.name]"
                     :key="question.key" :gift="question.gift"></component>
      </template>


      <div class="d-flex justify-content-end">
          <a href="#!" class="btn btn-primary m-1" @click.prevent="generateGift">Згенерувати Gift</a>
          <a href="https://fuhrmanator.github.io/GIFT-grammar-PEG.js/docs/editor/" class="btn btn-secondary m-1">Валідація Gift</a>
        </div>
      
      <div class="row">
        <div class="col col-12">
          <textarea rows="10" class="form-control" v-model="gift"></textarea>
        </div>
      </div>
  </div>
</template>

<script>
import QuestionSingle from './components/questions/QuestionSingle';
import QuestionMultiple from './components/questions/QuestionMultiple';
import QuestionTrueFalse from './components/questions/QuestionTrueFalse';
import QuestionShort from './components/questions/QuestionShort';
import QuestionMatching from './components/questions/QuestionMatching.vue';
import QuestionNumerical from './components/questions/QuestionNumerical.vue';
import DropZone from './components/DropZone.vue';

export default {
  components: {
    QuestionSingle,
    QuestionMultiple,
    QuestionTrueFalse,
    QuestionShort,
    QuestionMatching,
    QuestionNumerical,
    DropZone,
  },
  data() {
    return {
      questionType: 'single',
      questionTypes: {
        single: 'Одна вірна відповідь',
        multiple: 'Декілька вірних відповідей',
        'true-false': 'Вірно/Невірно',
        short: 'Коротка відповідь',
        matching: 'На відповідність',
        numerical: 'Числова відповідь',
        //essay: 'Розгорнута відповідь',
        //description: 'Питання опис',
      },
      questions: [],
      gift: '',
    };
  },
  methods: {
    componentName: function(name) {
      return 'question-' + name;
    },
    addQuestion: function(questionType, gift = null) {
      let lenght = this.questions.length;
      let newKey = lenght !== 0 ? parseInt(this.questions[lenght - 1].key) + 1 : 1;
      this.questions.push({
        key: newKey,
        name: questionType,
        gift: gift,
      });
    },
    generateGift: function() {
      this.gift = '';
      for (let i = 0; i < this.questions.length; i++) {
        let gift = this.$children[i + 1].generateGift();
        if (gift !== null) this.gift += gift;
      }
    },
    delQuestion: function(index) {
      this.questions.splice(index, 1);
    },
  },
};
</script>

<style lang="scss">
hr {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}
</style>
