<template>
  <div>
    <div class="container-fluid">
      <question-header :serial-number="serialNumber" :question-type="questionType"
                       :visible="visible" :title="title"
                       @show-or-hide="showOrHide" @delete-question="deleteQuestion"></question-header>
      <hr>
      <div class="row">
        <div class="col col-12" v-show="visible">
          <question-body :title="title" :question="question"
                         @title-changed="updateTitle" @question-changed="updateQuestion"></question-body>
          <div class="row">
            <div class="col col-12">
              <a href="#!" @click.prevent="addChoice" class="btn btn-success m-1"><i
                      class="fas fa-plus-circle m-1"></i>Додати варіант відповіді</a>
            </div>

            <template v-for="(val, key) in choices">
              <div class="col col-12" :key="serialNumber + '_' + key">
                <div class="input-group pt-1 pb-1">
                  <span class="input-group-btn align-self-center pl-1 pr-1">
                  <label class="pr-1 " :for="serialNumber + '_' + key">
                      Відповідь {{ key + 1 }}:
                    </label>
                  </span>
                  <input :id="serialNumber + '_' + key" v-model="val.answer" type="text"
                         class="form-control align-self-center pl-1 pr-1">
                  <span class="input-group-btn align-self-center pl-1 pr-1">
                  <label class="pr-1 pl-1" :for="'mark_' +serialNumber + '_' + key">
                    Оцінка:
                  </label>
                  </span>
                  <input :id="'mark_'+serialNumber + '_' + key" v-model="val.mark" type="text"
                         class="mark form-control align-self-center pl-1 pr-1">
                  <span class="input-group-btn align-self-center pl-1 pr-1">
                                    <button class="form-control btn btn-danger" @click="delAnswer(key)">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </span>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { question } from '../../mixins/question.js';
import QuestionHeader from './../QuestionHeader.vue';
import QuestionBody from './../QuestionBody.vue';
export default {
  mixins: [question],
  components: {
    QuestionHeader,
    QuestionBody,
  },
  data: function() {
    return {
      choices: [],
    };
  },
  mounted: function() {
    if (this.gift !== null)
      for (let i = 0; i < this.gift.choices.length; ++i) {
        this.choices.push({
          answer: this.gift.choices[i].text.text,
          weight: this.gift.choices[i].weight,
        });
      }
    let min;
    this.choices.forEach(function(current) {
      if (current.weight > 0) min = current.weight;
    });
    this.choices.forEach(function(current) {
      if (current.weight > 0 && current.weight < min) min = current.weight;
    });

    for (let i = 0; i < this.choices.length; ++i) {
      if (this.choices[i].weight > 0) {
        let mark = this.choices[i].weight / min;
        if (Number.isInteger(mark)) this.choices[i].mark = mark;
        else this.choices[i].mark = Math.floor(mark) + 1;
      } else this.choices[i].mark = 0;
    }
  },
  methods: {
    calcWeights: function() {
      let sum = 0;
      let countWrongAns = 0;
      for (let i = 0; i < this.choices.length; ++i) {
        sum += parseInt(this.choices[i].mark);
        if (parseInt(this.choices[i].mark) === 0) countWrongAns++;
      }
      console.log('sum ', sum, ' cw ', countWrongAns);
      for (let i = 0; i < this.choices.length; ++i) {
        if (parseInt(this.choices[i].mark) !== 0) this.choices[i].weight = (100 * parseInt(this.choices[i].mark)) / sum;
        else this.choices[i].weight = -100 / countWrongAns;
      }
    },
    addChoice: function() {
      this.choices.push({});
    },
    delAnswer: function(index) {
      if (index === this.rightAnswer - 1) this.rightAnswer = null;
      this.choices.splice(index, 1);
    },
    validate: function() {
      return !(this.question.length === 0 || this.choices.length === 0);
    },
    generateGift: function() {
      this.calcWeights();
      if (this.validate()) {
        let result = '';
        if (this.title !== '') result = '::' + this.title + '::';
        result += this.question + '{\n';
        for (let i = 0; i < this.choices.length; i++) {
          result += '~%' + this.choices[i].weight.toFixed(0) + '%' + this.choices[i].answer + '\n';
        }
        result += '}\n\n';
        return result;
      } else return null;
    },
  },
};
</script>

<style lang="scss" scoped>
.mark {
  max-width: 50px;
}
</style>
