<template>
    <div class="container-fluid">
      <question-header :serial-number="serialNumber" :question-type="questionType"
                       :visible="visible" :title="title"
                       @show-or-hide="showOrHide" @delete-question="deleteQuestion"></question-header>
      <hr>
      <div class="row">
        <div class="col col-12" v-show="visible">
          <question-body :question="question"
                         @title-changed="updateTitle" @question-changed="updateQuestion"></question-body>
          <div class="row">
            <div class="col col-12">
              <a href="#!" @click.prevent="addAnswer" class="btn btn-success m-1"><i
                      class="fas fa-plus-circle m-1"></i>Додати вірний варіант відповіді</a>
            </div>

            <template v-for="(val, key) in answers">
              <div class="col col-12" :key="serialNumber + '_' + key">
                <div class="input-group pt-1 pb-1">
                  <input v-model="val.answer" type="text"
                         class="form-control align-self-center pl-1 pr-1">
                  <span class="input-group-btn align-self-center pl-1 pr-1">
                    <button class="form-control btn btn-danger" @click="delAnswer(key)">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </span>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
  </div>
</template>
<script>
import { question } from '../../mixins/question.js';
import QuestionHeader from './../QuestionHeader.vue';
import QuestionBody from './../QuestionBody.vue';

export default {
  mixins: [question],
  components: {
    QuestionHeader,
    QuestionBody,
  },
  data: function() {
    return {
      answers: [],
    };
  },
  mounted: function() {
    if (this.gift !== null)
      for (let i = 0; i < this.gift.choices.length; ++i) {
        this.answers.push({ answer: this.gift.choices[i].text.text });
      }
  },
  methods: {
    addAnswer: function() {
      this.answers.push({});
    },
    delAnswer: function(index) {
      this.answers.splice(index, 1);
    },
    validate: function() {
      return !(this.question.length === 0 || this.answers.length === 0);
    },
    generateGift: function() {
      if (this.validate()) {
        let result = '';
        result += this.question + '{';
        for (let i = 0; i < this.answers.length; ++i) result += ' =' + this.answers[i].answer;
        result += '}\n\n';
        return result;
      } else return null;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
