<template>
    <div class="container-fluid">
      <question-header :serial-number="serialNumber" :question-type="questionType"
                       :visible="visible" :title="title"
                       @show-or-hide="showOrHide" @delete-question="deleteQuestion"></question-header>
      <hr>
      <div class="row">
        <div class="col col-12" v-show="visible">
          <question-body :title="title" :question="question"
                         @title-changed="updateTitle" @question-changed="updateQuestion"></question-body>
          <div class="row">
            <div class="col col-12">
              <label class="btn radio-inline">
                <input class="radio radio-danger mr-1" type="radio" v-model="range" :value="false">Інтервал
              </label>
              <label class="btn radio-inline">
                <input class="mr-1" type="radio" v-model="range" :value="true">Мінімум-Максимум
              </label>
            </div>
          </div>
          <div class="row">
             <template v-for="(val, key) in answers">
              <div class="col col-12" :key="serialNumber + '_' + key">
                <div class="input-group pt-1 pb-1">
                  <span v-show="!range" class="input-group-btn align-self-center pl-1 pr-1">
                    <label class="pr-1 " :for="serialNumber + '_' + key">
                    Відповідь:
                  </label>
                  </span>
                  <input v-show="!range" :id="serialNumber + '_' + key" v-model="val.number" type="text"
                         class="form-control align-self-center pl-1 pr-1">

                  <span v-show="!range" class="input-group-btn align-self-center pl-1 pr-1">
                    <label class="pr-1 " :for="'dispersion_' + serialNumber + '_' + key">
                      Відхилення:
                    </label>
                  </span>
                  <input v-show="!range" :id="'dispersion_' + serialNumber + '_' + key" v-model="val.dispersion" type="text"
                         class="form-control align-self-center pl-1 pr-1">

                  <span v-show="range" class="input-group-btn align-self-center pl-1 pr-1">
                  <label class="pr-1 " :for="'min_' + serialNumber + '_' + key">
                    Мінімум:
                  </label>
                  </span>
                  <input v-show="range" :id="'min_' + serialNumber + '_' + key" v-model="val.min" type="text"
                         class="form-control align-self-center pl-1 pr-1">

                  <span v-show="range" class="input-group-btn align-self-center pl-1 pr-1">
                  <label class="pr-1 " :for="'max_' + serialNumber + '_' + key">
                    Максимум:
                  </label>
                  </span>
                  <input v-show="range" :id="'max_' + serialNumber + '_' + key" v-model="val.max" type="text"
                         class="form-control align-self-center pl-1 pr-1">
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
  </div>
</template>
<script>
import { question } from '../../mixins/question.js';
import QuestionHeader from './../QuestionHeader.vue';
import QuestionBody from './../QuestionBody.vue';

export default {
  mixins: [question],
  components: {
    QuestionHeader,
    QuestionBody,
  },
  data: function() {
    return {
      answers: [],
      range: false,
    };
  },
  mounted: function() {
    this.answers.push({
      number: '',
      dispersion: 0,
      min: '',
      max: '',
    });
    if (this.gift !== null) {
      this.answers[0].number = this.gift.choices.number;
      if (this.gift.choices.type === 'range') {
        this.answers[0].dispersion = this.gift.choices.range;
        this.answers[0].number = this.gift.choices.number;
        this.range = false;
      } else if (this.gift.choices.type === 'high-low') {
        this.answers[0].min = this.gift.choices.numberLow;
        this.answers[0].max = this.gift.choices.numberHigh;
        this.range = true;
      }
    }
  },
  methods: {
    delAnswer: function(index) {
      this.answers.splice(index, 1);
    },
    validate: function() {
      if (this.answers[0].number.length === 0) return false;
      if (this.range === true) return !(this.answers[0].min.length === 0 || this.answers[0].max.length === 0);
      else return !(this.answers[0].dispersion.length === 0);
    },
    generateGift: function() {
      if (this.validate()) {
        let result = '';
        if (this.title !== '') result = '::' + this.title + '::';
        result += this.question + '{\n';
        if (this.range === true) {
          result += ' #' + parseInt(this.answers[0].min) + '..' + parseInt(this.answers[0].max);
        } else {
          result += ' #' + parseInt(this.answers[0].number);
          result += parseInt(this.answers[0].dispersion) !== 0 ? ':' + this.answers[0].dispersion : '\n';
        }
        result += '}\n\n';
        return result;
      } else return null;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
