<template>
    <div>
        <div class="container-fluid">
            <question-header :serial-number="serialNumber" :question-type="questionType"
                             :visible="visible" :title="title"
                             @show-or-hide="showOrHide" @delete-question="deleteQuestion"></question-header>
            <hr>
            <div class="row">
                <div class="col col-12" v-show="visible">
                    <question-body :title="title" :question="question"
                                   @title-changed="updateTitle" @question-changed="updateQuestion"></question-body>
                    <div class="row">
                        <div class="col col-12">
                            <a href="#!" @click.prevent="addChoice" class="btn btn-success m-1"><i
                                    class="fas fa-plus-circle m-1"></i>Додати варіант відповіді</a>
                        </div>

                        <template v-for="(val, key) in choices">
                            <div class="col col-12" :key="serialNumber + '_' + key">
                                <div class="input-group pt-1 pb-1">
                                    <div class="form-check align-self-center">
                                        <input :name="questionType + '_' + serialNumber" class="form-check-input align-self-center" type="radio"
                                               :id="serialNumber + '_' + key" v-model="rightAnswer"
                                               :value="key + 1">
                                        <label class="form-check-label pr-1" :for="serialNumber + '_' + key">
                                            Відповідь {{ key + 1 }}:
                                        </label>
                                    </div>
                                    <input v-model="val.answer" type="text"
                                           class="form-control align-self-center pl-1 pr-1">
                                    <span class="input-group-btn align-self-center pl-1 pr-1">
                                    <button class="form-control btn btn-danger" @click="delAnswer(key)">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </span>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { question } from '../../mixins/question.js';
import QuestionHeader from './../QuestionHeader.vue';
import QuestionBody from './../QuestionBody.vue';

export default {
  mixins: [question],
  components: {
    QuestionHeader,
    QuestionBody,
  },
  data: function() {
    return {
      choices: [],
    };
  },
  mounted: function() {
    if (this.gift !== null)
      for (let i = 0; i < this.gift.choices.length; ++i) {
        this.choices.push({ answer: this.gift.choices[i].text.text });
        if (this.gift.choices[i].isCorrect) this.rightAnswer = i + 1;
      }
  },
  methods: {
    addChoice: function() {
      this.choices.push({});
    },
    delAnswer: function(index) {
      if (index === this.rightAnswer - 1) this.rightAnswer = null;
      this.choices.splice(index, 1);
    },
    validate: function() {
      return !(this.question.length === 0 || this.choices.length === 0 || this.rightAnswer === null);
    },
    generateGift: function() {
      if (this.validate()) {
        let result = '';
        if (this.title !== '') result = '::' + this.title + '::';
        result += this.question + '{\n';
        for (let i = 0; i < this.choices.length; i++) {
          if (this.rightAnswer === i + 1) result += '=' + this.choices[i].answer + '\n';
          else result += '~' + this.choices[i].answer + '\n';
        }
        result += '}\n\n';
        return result;
      } else return null;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
