<template>
  <div>
    <div class="container-fluid">
      <question-header :serial-number="serialNumber" :question-type="questionType"
                       :visible="visible" :title="title"
                       @show-or-hide="showOrHide" @delete-question="deleteQuestion"></question-header>
      <hr>
      <div class="row">
        <div class="col col-12" v-show="visible">
          <question-body :title="title" :question="question"
                         @title-changed="updateTitle" @question-changed="updateQuestion"></question-body>
          <div class="row">
            <div class="col col-12">
              <label class="btn btn-success radio-inline">
                <input class="radio radio-danger mr-1" type="radio" v-model="rightAnswer" :value="true">Вірно
              </label>
              <label class="btn btn-danger radio-inline">
                <input class="mr-1" type="radio" v-model="rightAnswer" :value="false">Не вірно
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { question } from '../../mixins/question.js';
import QuestionHeader from './../QuestionHeader.vue';
import QuestionBody from './../QuestionBody.vue';

export default {
  mixins: [question],
  components: {
    QuestionHeader,
    QuestionBody,
  },
  mounted: function() {
    if (this.gift !== null) this.rightAnswer = this.gift.isTrue;
  },
  methods: {
    validate: function() {
      return !(this.question.length === 0 || this.rightAnswer === null);
    },
    generateGift: function() {
      if (this.validate()) {
        let result = '';
        if (this.title !== '') result = '::' + this.title + '::';
        result += this.question + '{';
        result += this.rightAnswer ? 'T' : 'F';
        result += '}\n\n';
        return result;
      } else return null;
    },
  },
};
</script>
