<template>
  <div id="drop-zone" class="row m-1">
    <div class="col col-12 ">
        <div class="col col-xs-12 ">
          <h5 class="text-center">Перетягніть Gift файл.</h5>
        </div>
      </div>
    </div>
</template>
<script>
export default {
  data: function() {
    return {
      dragOver: false,
    };
  },
  mounted: function() {
    let dropZone = document.getElementById('drop-zone');
    dropZone.addEventListener('dragover', this.handleDragOver, false);
    dropZone.addEventListener(
      'dragleave',
      () => {
        this.dragOver = false;
      },
      false
    );
    dropZone.addEventListener('drop', this.handleFileSelect, false);
  },
  methods: {
    handleDragOver: function(evt) {
      this.dragOver = true;
      evt.stopPropagation();
      evt.preventDefault();
      evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
    },
    handleFileSelect: function(evt) {
      this.dragOver = false;
      let vm = this;
      evt.stopPropagation();
      evt.preventDefault();
      let file = evt.dataTransfer.files[0]; // FileList object.
      let reader = new FileReader();
      reader.addEventListener('load', function(e) {
        let gift = e.target.result;
        let giftJson = GiftParser.parse(gift);
        for (let i = 0; i < giftJson.length; ++i) {
          switch (giftJson[i].type) {
            case 'MC':
              if (giftJson[i].choices[0].weight === null) vm.$emit('new-question', 'single', giftJson[i]);
              else vm.$emit('new-question', 'multiple', giftJson[i]);
              break;
            case 'TF':
              vm.$emit('new-question', 'true-false', giftJson[i]);
              break;
            case 'Short':
              vm.$emit('new-question', 'short', giftJson[i]);
              break;
            case 'Matching':
              vm.$emit('new-question', 'matching', giftJson[i]);
              break;
            case 'Numerical':
              vm.$emit('new-question', 'numerical', giftJson[i]);
              break;
          }
        }
      });
      reader.readAsText(file);
    },
  },
};
</script>
<style scoped>
#drop-zone {
  border-radius: 5px;
  border: 2px dashed #0087f7;
  background: white;
}
</style>
