<template>
  <div class="row">
    <div class="col col-12">
      <h6>{{ serialNumber }}. Тестове завдання{{ title.length === 0 ? '' : ': '+title }}.
        Тип завдання: <span class="badge badge-secondary">{{ questionType }}</span>.
        <a href="#!" class="btn btn-secondary btn-sm" @click.prevent="showOrHide">{{ visible ? 'Сховати' : 'Показати' }}</a>
        <a href="#!" class="btn btn-danger btn-sm m-1" @click.prevent="deleteQuestion">
          <i class="far fa-trash-alt m-1"></i>Видалити питання
        </a>
      </h6>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    serialNumber: Number,
    questionType: String,
    title: String,
    visible: Boolean,
  },
  methods: {
    showOrHide: function() {
      this.$emit('show-or-hide');
    },
    deleteQuestion: function() {
      this.$emit('delete-question');
    },
  },
};
</script>
<style scoped>
h6 {
  margin-bottom: 0;
}
</style>
