<template>
  <div class="row">
    <div class="col col-12" v-if="title !== undefined">
      <label>Назва питання:</label>
      <input v-model="mTitle" type="text" class="form-control">
    </div>
    <div class="col col-12">
      <label>Питання:</label>
      <textarea v-model="mQuestion" class="form-control"></textarea>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      required: false,
    },
    question: {
      required: true,
    },
  },
  data: function() {
    return {
      mTitle: '',
      mQuestion: '',
    };
  },
  watch: {
    title: function(title) {
      this.mTitle = title;
    },
    question: function(question) {
      this.mQuestion = question;
    },
    mTitle: function(title) {
      this.$emit('title-changed', title);
    },
    mQuestion: function(question) {
      this.$emit('question-changed', question);
    },
  },
};
</script>
